<h1>Detalle del impuesto</h1>
<p>A continuación se muestra el detalle de este impuesto.</p>
<br>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-title">Detalle del impuesto</div>
		<div class="panel-toolbar">
			<%= link_to 'Volver', taxes_path, :class => "btn btn-link" %>
			<%= link_to edit_tax_path(@tax), :class => "btn btn-default" do %>
			<i class="fa fa-pencil"></i>
			<% end %>
			<%= link_to @tax, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
			<i class="fa fa-trash-o"></i>
			<% end %>
		</div>
	</div>
	<div class="panel-body">
		
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Nombre:</th>
					<td><%= @tax.name %></td>
				</tr>
				<tr>
					<th>Valor:</th>
					<td><%= @tax.value %>%</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
