<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<title>Bottle-Ship</title>
	
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper" class="layout-empty">
		<div id="header">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/index/home">La Boti</a>
					<a id="menu-toggle" href="#"><span class="glyphicon glyphicon-th-list"></span></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!-- <li><a></a></li> -->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						
					</ul>
				</div>
			</nav>
		</div>
		<div id="header-ghost"></div>

		<%= yield %>
		
	</div>

	<script src="/js/bootstrap/transition.js"></script>
    <script src="/js/bootstrap/alert.js"></script>
    <script src="/js/bootstrap/button.js"></script>
    <script src="/js/bootstrap/carousel.js"></script>
    <script src="/js/bootstrap/collapse.js"></script>
    <script src="/js/bootstrap/dropdown.js"></script>
    <script src="/js/bootstrap/modal.js"></script>
    <script src="/js/bootstrap/tooltip.js"></script>
    <script src="/js/bootstrap/popover.js"></script>
    <script src="/js/bootstrap/scrollspy.js"></script>
    <script src="/js/bootstrap/tab.js"></script>
    <script src="/js/bootstrap/affix.js"></script>

    <script type="text/javascript">
    	$('.dropdown-toggle').dropdown()  

    	// Sidebar toggle
    	$("#menu-toggle").click(function(e) {
	        e.preventDefault()
	        $("#wrapper").toggleClass("active")
	    });
    </script>
    <%= yield :script %>
</body>
</html>
